<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="urcapplugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="urcapplugin.Perspective"
            name="RCP Perspective"
            id="URCapPlugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="URCapPlugin.toolbar1">
            <command
                  commandId="referenceToMenuId"
                  icon="icons/ur.jpg"
                  label="Pulldown Menu"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToMenuId">
         <command
               commandId="URCapPlugin.showInstallationNodeWizard"
               id="InstallNode"
               label="Install Node"
               style="push">
         </command>
         <command
               commandId="URCapPlugin.showProgramNodeWizard"
               id="ProgramNode"
               label="Program Node"
               style="push">
         </command>
         <command
               commandId="URCapPlugin.showToolbarNodeWizard"
               id="ToolbarNode"
               label="Toolbar Node"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowWizard"
            id="URCapPlugin.commands.showWizard"
            name="Setup URCap Project">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowWizard"
            id="referenceToMenuId"
            name="New URCap">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowProgramNodeWizard"
            id="URCapPlugin.showProgramNodeWizard"
            name="ShowProgramNodeWizard">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowInstallationNodeWizard"
            id="URCapPlugin.showInstallationNodeWizard"
            name="ShowInstallationNodeWizard">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowToolbarNodeWizard"
            id="URCapPlugin.showToolbarNodeWizard"
            name="ShowToolbarNodeWizard">
      </command>
   </extension>

</plugin>
