<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="urcapplugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="urcapplugin.Perspective"
            name="RCP Perspective"
            id="URCapPlugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="URCapPlugin.toolbar1">
            <command
                  commandId="referenceToMenuId"
                  icon="icons/ur.jpg"
                  label="Pulldown Menu"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToMenuId">
         <command
               commandId="URCapPlugin.showInstallationNodeWizard"
               id="InstallNode"
               label="Installation Node"
               style="push">
         </command>
         <command
               commandId="URCapPlugin.showProgramNodeWizard"
               id="ProgramNode"
               label="Program Node"
               style="push">
         </command>
         <command
               commandId="URCapPlugin.showToolbarNodeWizard"
               id="ToolbarNode"
               label="Toolbar Node"
               style="push">
         </command>
         <menu
               id="Deploy"
               label="Deploy">
            <command
                  commandId="URCapPlugin.deploy.deploylocal"
                  label="Deploy to local URSim"
                  style="push">
            </command>
            <command
                  commandId="URCapPlugin.deploy.deploytovm"
                  label="Deploy to VM URSim"
                  style="push">
            </command>
            <command
                  commandId="URCapPlugin.deploy.deploytorobot"
                  label="Deploy to robot"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="URCapPlugin.projectnature.command"
               icon="icons/ur.jpg"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="URCapPlugin.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowWizard"
            id="URCapPlugin.commands.showWizard"
            name="Setup URCap Project">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowWizard"
            id="referenceToMenuId"
            name="New URCap">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowNodeWizard"
            description="ProgramNode"
            id="URCapPlugin.showProgramNodeWizard"
            name="ShowProgramNodeWizard">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowNodeWizard"
            description="InstallationNode"
            id="URCapPlugin.showInstallationNodeWizard"
            name="ShowInstallationNodeWizard">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ShowNodeWizard"
            description="ToolbarNode"
            id="URCapPlugin.showToolbarNodeWizard"
            name="ShowToolbarNodeWizard">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.deploy.ShowDeployWizard"
            id="URCapPlugin.deploy.deploylocal"
            name="DeployLocal">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.deploy.ShowDeployWizard"
            id="URCapPlugin.deploy.deploytorobot"
            name="DeployToRobot">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.deploy.ShowDeployWizard"
            id="URCapPlugin.deploy.deploytovm"
            name="DeployToVM">
      </command>
      <command
            defaultHandler="urcapplugin.toolbar.handler.ConvertToURCapHandler"
            id="URCapPlugin.projectnature.command"
            name="Convert To URCap Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="URCapPlugin.hasNature">
            <adapt
            	type="org.eclipse.core.resources.IProject">
            	<test
            		property="org.eclipse.core.resources.projectNature"
            		value="URCapProjectNature.urcapprojectnature">
            	</test>
            </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ur8x8.jpg"
            id="URCapProjectNature.urcapprojectnature.image"
            natureId="URCapProjectNature.urcapprojectnature">
      </image>
   </extension>

</plugin>
